extends ../../layout/default.pug
block main
    h1(class="mb-4") Tạo phần quyền mới
    .card.mb-3
        .card-header Thông tin phần quyền
        .card-body
            form(action=`${prefixAdmin}/roles/edit/${role._id}` method="POST")
                .form-group
                    label(for="title") Tên phần quyền
                    input(type="text" id="title" name="title" class="form-control" value=role.title required)
                .form-group
                    label(for="description") Mô tả
                    textarea(id="description" name="description" class="form-control" rows="3") #{role.description}
                
                button(type="submit" class="btn btn-primary") Lưu phần quyền
