.header {
  background: black;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .inner-logo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header .inner-logo a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.body .sider {
  width: 200px;
  background: #323232;
  color: white;
  height: calc(100vh - 56px);
  position: fixed;
  top: 65px;
  left: 0;
}
.body .main {
  position: relative;
  left: 200px;
  width: calc(100% - 160px);
}
.body .sider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.body .sider ul li a {
  color: white;
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  border-bottom: 1px solid #444;
}
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}
[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
[show-alert] [close-alert] {
  background: iffffffce;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 58%;
  cursor: pointer;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}
/* End Show Alert */
.image-Preview {
  width: 150px;
  border: solid 1px #ccc;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}
.image-Preview[src=""] {
  display: none;
}
