extends ../../layout/auth.pug
include ../../mixins/alert.pug
block main
    +alert-error(5000)
    .container.my-5     
        .row.justify-content-center     
            .col-8
                h1 Đăng nhập tài khoản
                form(action=`${prefixAdmin}/auth/login`, 
                    method="POST" 
                    class="form-login-account")
                    .card.mb-3 
                        .card-header Thông tin tài khoản
                        .card-body 
                            .row
                                .col-md-12
                                    .mb-3
                                        label(for="email") Email
                                        input(type="text" name="email" id="email" class="form-control" )
                                .col-md-12
                                    .mb-3
                                        label(for="password") Mật khẩu
                                        input(type="password" name="password" id="password" class="form-control")

                            button(type="submit" class="btn btn-success mt-3") Đăng nhập