mixin pagination(objectPanination)
    nav 
        ul(class="pagination")
            if objectPanination.currentPage > 1
                li(class="page-item")
                    button(class="page-link" type="button" button-pagination=objectPanination.currentPage - 1 ) Trang trước
            else
                li(class="page-item.disabled")
                    button(class="page-link" type="button" disabled) Trang trước
            - for (var i = 1; i <= objectPanination.totalPages; ++i)
                    li(class="page-item " + (i === objectPanination.currentPage ? 'active' : ''))
                        button(class="page-link" button-pagination=i, type="button") #{i}
            if objectPanination.currentPage < objectPanination.totalPages
                li(class="page-item")
                    button(class="page-link" type="button" button-pagination=objectPanination.currentPage + 1 ) Trang sau
            else
                li(class="page-item.disabled")
                    button(class="page-link" type="button" disabled) Trang sau 