mixin inputSearch(keyword)
    form(id="searchForm", action="/admin/products")
        .input-group.mb-3
            input.form-control(type="text", name="keyword", placeholder="Tìm kiếm sản phẩm" value=keyword) 
        button.btn.btn-outline-secondary(type="submit") Tìm kiếm
