mixin inputSearch(keyword, path,placeholder)
    form(id="searchForm", action=`/admin/${path}`)
        .input-group.mb-3
            input.form-control(type="text", name="keyword", placeholder=placeholder value=keyword) 
        button.btn.btn-outline-secondary(type="submit") Tìm kiếm
