extends ../../layout/default
include ../../mixins/box-head
block main
    div(class="container my-3")
        div(class="row")
            div(class="col-12")
                +box-head("Chat")
        div(class="row")
            div(class="col-12")
                div(class="card chat")
                    div(class="card-body chat-body" style="height: 400px; overflow-y: auto;" data-user-id=user.id)
                        each chat in chats
                            if (chat.user_id == user.id)
                                div(class="message d-flex flex-row justify-content-end mb-4")
                                    div(class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;")
                                        p(class="small mb-0") #{chat.content}
                            else
                                div(class="message d-flex flex-row justify-content-start mb-4")
                                    div(class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);")
                                        p #{chat.fullName}
                                        p(class="small mb-0") #{chat.content}
                        
                    div(class="card-footer text-muted p-3")
                        form.d-flex.justify-content-start.align-items-center(action="#" form-chat) 
                            input.form-control(type="text" placeholder="Type message" name="content")
                            button.btn.btn-primary.ms-3(type="submit") 
                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16")
                                    path( d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z")
