.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Trang tổng quan
            li 
                a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
            li 
                a(href=`${prefixAdmin}/categories`) Danh mục sản phẩm